@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i|Roboto:300,400,500,700&display=swap');

html,
body{
    margin: 0 !important;
    padding: 0 !important;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #444444;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    width: 100vw !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
    line-height: 61px;
}

h2 {
    font-size: 2.6rem;
    line-height: 3.3rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.6rem;
}

p, li {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.6rem;
    color: #888888;
    margin-bottom: 0;
}

cite {
    font-size: .8rem;
    font-style: normal;
}

.italics{
    font-style: italic;
}

.light{
    font-weight: 200;
}
.bold{
    font-weight: 700;
}

.shadow, 
.service-box {
    box-shadow: 0 8px 25px 0 #0000001c;
}

a {
    font-size: inherit;
    color: inherit;
}

a:focus, 
a:hover {
    color: #48b81c;
    text-decoration: none;
}

.bg-gray {
    background: #f1f1f1;
}

.bg-green {
    background: #48b81c;
}

.white{
    color: #ffffff !important;
}

.grey{
    color: #bdbdbd !important;
}

.green{
    color: #48b81c !important;
}

.body-wrapper{
    margin: 0;
    padding: 0;
}

.section {
    padding: 6rem 0;
}
/* =====================NAVBAR===================== */
.main-nav {
    background: #ffffff;
    z-index: 99;
    width: 100vw;
}
  
.main-nav .navbar-brand {
    padding: 0;
}
  
.main-nav .navbar-nav .nav-item {
    position: relative;
    font-family: "Roboto", sans-serif;
}
  
.main-nav .navbar-nav .nav-item .nav-link {
    position: relative;
    text-align: center;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #444444;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    line-height: 3rem;
}
  
.main-nav .navbar-nav .nav-item.active .nav-link {
    color: #48b81c;
}
  
.main-nav .navbar-nav .nav-item.active .nav-link:before {
    content: '';
    background: #48b81c;
    width: 60%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 20%;
}
  
.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
}

/* HAMBURGER MENU */
#hamburger-menu{
    background: transparent;
    margin-left: -20px;
}
.toggler-bg{
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
}
.menu-line{
    position: absolute;
    width: 100%;
    height: 3px;
    background: #299E20;
    border-radius: 8px;
    padding-right: 1.3rem;
    transition: all cubic-bezier(.26, .1, .27, 1.55) .25s;
}
.top{
    top: 20%;
}
.mid{
    top: 50%;
}
.low{
    top: 80%;
}
.icon.close .top{
    top: 50%;
    transform: rotate(45deg);
}
.icon.close .mid, 
.icon.close .low{
    top:50%;
    transform: rotate(-45deg);
} 
/* =====================NAVBAR ENDS===================== */


/* =====================BUTTONS===================== */
.btn-main {
    padding: 1.6rem 3rem;
    border-radius: 3px;
    background: #48b81c;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
}
  
.btn-main:hover {
    background: #ffffff;
    color: #48b81c;
}
  
.btn-main:focus {
    color: #ffffff;
    box-shadow: none;
}

.btn-secondary{
    margin: 1rem auto 1.5rem auto;
    padding: .8rem 2.5rem;
    border-radius: 3px;
    background: #48b81c;
    color: #ffffff;
    letter-spacing: 1.5px;
    font-weight: bold;
    outline: none !important;
    border: none !important;
}
    
.btn-secondary:hover {
    color: #ffffff;
    background: #1b5803;
}
    
.btn-secondary:focus {
    color: #ffffff;
    box-shadow: none;
}

.btn-rounded-icon {
    border-radius: 6.6rem;
    color: #ffffff;
    background-color: #48b81c;
    border: 1px solid #ffffff;
    padding: .8rem auto;
    max-width: 10rem;
    min-width: 10rem;
}

.btn-form{
  width: 100%;
  background: transparent;
  color: #48b81c !important;
  border: 2px solid #48b81c;
}

.btn-form:hover{
  background: #48b81c;
  color: #ffffff !important;
  border: 2px solid transparent;
}
/* =====================BUTTONS END===================== */


/* =====================HEADER===================== */
.header-bg {
    padding: 6.6rem 0 11.3rem;
    position: relative;
    overflow-x: hidden;
}
  
.header-bg::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #9add42 0%, #48b81c 20%, #174903 50%);
}
  
.line-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden !important;
}

.line {
    position: absolute;
}

.line::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
    position: absolute;
    border-radius: 3.3rem;
}

.line:nth-child(1) {
    top: 5%;
    left: 10%;
    width: 26rem;
    height: 4.6rem;
}
  
.line:nth-child(2) {
    top: 14%;
    left: 20%;
    width: 13rem;
    height: .8rem;
}
  
.line:nth-child(3) {
    top: 75%;
    left: 0%;
    width: 30rem;
    height: 4rem;
}
  
.line:nth-child(4) {
    top: 80%;
    left: 15%;
    width: 15rem;
    height: .6rem;
}
  
.line:nth-child(5) {
    top: 6%;
    left: 50%;
    width: 20rem;
    height: 2.3rem;
}
  
.line:nth-child(6) {
    top: 5%;
    left: 54%;
    width: 13rem;
    height: .3rem;
}
  
.line:nth-child(7) {
    top: 84%;
    left: 63%;
    width: 13.3rem;
    height: .3rem;
}
  
.line:nth-child(8) {
    top: 70%;
    left: 90%;
    width: 13.3rem;
    height: .6rem;
}
  
.line:nth-child(9) {
    top: 69%;
    left: 93%;
    width: 13rem;
    height: .3rem; 
}
  
  .line:nth-child(10) {
    top: 48%;
    left: 90%;
    width: 20rem;
    height: 3.3rem;
}
  
.line:nth-child(11) {
    top: 29%;
    left: 61%;
    width: 33rem;
    height: 3.6rem;
}
  
.line:nth-child(12) {
    top: 61%;
    left: 50%;
    width: 10.6rem;
    height: .6rem;
}
  
.line:nth-child(13) {
    top: 66%;
    left: 46%;
    width: 13.6rem;
    height: 1.3rem;
}
  
.line:nth-child(14) {
    top: 30%;
    left: 80%;
    width: 14rem;
    height: .3rem;
}
  
.line:nth-child(15) {
    top: 85%;
    left: 42%;
    width: 30rem;
    height: 3rem;
}
  
.line:nth-child(16) {
    top: 50%;
    left: 78%;
    width: 13.6rem;
    height: .3rem;
}
  
.line:nth-child(17) {
    top: 47%;
    left: 93%;
    width: 13.3rem;
    height: .6rem;
}
  
.line:nth-child(18) {
    top: 48%;
    left: 83%;
    width: 6.6rem;
    height: .3rem;
}

.header-img img{
    animation: float 5s 2.5s ease-in-out infinite;
}
  
@keyframes float {
    0% {
        transform: translate(-0%, 0%);
    }
  
    50% {
        transform: translate(-0%, -5%);
    }
  
    100% {
        transform: translate(-0%, 0%);
    }
}
/* =====================HEADER END===================== */
  
  
/* =====================FEATURES===================== */
.adjust-up {
    margin-top: -6.6rem;
}
/* =====================FEATURES END===================== */
  
  
/* =====================SERVICES===================== */
.section-title {
    text-align: center;
    margin-bottom: 2rem;
}
  
.section-title h2 {
    font-size: 2.3rem;
    margin-bottom: .8rem;
}
  
.section-title p {
    width: 50%;
    margin: 0 auto;
}

.service-box {
    padding: 1.3rem;
    background: #ffffff;
    border-radius: 4px;
}
  
.service-item {
    text-align: center;
    padding: .6rem;
    margin: 1.3rem 0;
}
  
.service-item i {
    color: #48b81c;
    display: inline-block;
    margin-bottom: 1rem;
}
  
.service-item p {
    font-size: .9rem;
}
/* =====================SERVICES END===================== */


/* =====================VIDEO===================== */
.para-bg {
    background: url(../assets/images/para-bg/vid-bg.jpg) fixed no-repeat;
    background-size: cover;
}
  
.video-section {
    height: auto;
}
  
.video-section .video-info { 
    height: 500px;
    position: relative;
    margin: auto; 
}
  
.video-section .content-block {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.video-section .content-block {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
  
.video-section .content-block h2 {
    font-size: 2rem;
    color: #fff;
}
  
.video-section .content-block p {
    margin-bottom: 2rem;
    color: #f1f1f1;
}
  
.video-section .content-block a i.video {
    height: 8.33rem;
    width: 8.33rem;
    background: #48b81c;
    display: inline-block;
    font-size: 2.6rem;
    color: #ffffff;
    text-align: center;
    line-height: 8.33rem;
    border-radius: 100%;
}
  
.video-section .content-block a i.video:hover {
    background: #ffffff;
    color: #48b81c;
}
  
.video-section .content-block a:focus {
    outline: 0;
}
/* =====================VIDEO END===================== */


/* =====================TESTIMONIALS===================== */
.slider:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 19.3rem solid #ffffff;
    border-left: 133.3rem solid transparent;
    width: 0;
}
  
.testimonial-slider .item {
    padding-bottom: 1.3rem;
}
  
.testimonial-slider .item .block {
    padding: 2.6rem;
    text-align: center;
    margin: .6rem;
    border-radius: .3rem;
}
  
.testimonial-slider .item .block .image {
    margin-top: 2rem;
    margin-bottom: .3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
  
.testimonial-slider .item .block .image img {
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 100%;
}
  
.testimonial-slider .item .block p {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #888888;
}
  
.testimonial-slider .item .block cite {
    font-style: normal;
    font-size: .9rem;
    color: #161616;
}
  
.testimonial .testimonial-slider .owl-dots .owl-dot:hover span {
    background: #48b81c;
}
  
.testimonial-slider .owl-dots .owl-dot.active span {
    background: #48b81c;
}
/* =====================TESTIMONIALS END===================== */


/* =====================CTA===================== */
.cta {
    text-align: center;
    height: auto;
}
  
.cta h2, 
.cta p, 
.cta a {
    color: #ffffff !important;
}
  
.cta p {
    margin-bottom: 2rem;
}
  
.cta ul li {
    margin-left: 1rem;
}
  
  .cta ul li:first-child {
    margin-left: 0;
}
  
.cta ul li a i {
    font-size: 1.3rem;
    margin-right: .3rem;
}
  
.list-inline{
    margin: 0 !important;
}
  
.list-inline-item{
    margin-top: 2rem !important;
    margin-bottom: 0 !important;
}
  
.os-btn{
    cursor: default;
}
  
.os-btn span{
    display: none !important;
}
  
.os-btn:hover span{
    display: inline-block !important;
    color: #48b81c;
    font-weight: 600;
}
  
.os-btn:hover i{
    display: none !important;
}
  
.os-btn:hover.btn-rounded-icon{
    border-radius: 6.6rem;
    color: #48b81c;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
  
.cta-btn{
    margin-top: 2rem;
    border-radius: 0;
    color: #ffffff;
    background-color: #48b81c;
    border: 1px solid #ffffff;
    padding: .8rem auto;
    max-width: 12rem;
    min-width: 12rem;
    line-height: 2.5rem !important;
}
  
.cta-btn:hover span{
    color: #48b81c;
    font-weight: 600;
}
  
.cta-btn:hover.btn-icon{
    background-color: #ffffff;
    border: none!important;
    border-bottom: 2px solid #ffffff !important;
}
/* =====================CTA END===================== */


/* =====================FOOTER===================== */
.footer {
    padding: 6rem 0;
    background: #1d241c;
}
  
.footer .block img {
    margin-bottom: 1.3rem;
}
  
.footer .block ul.social-icon li a {
    text-decoration: none;
    display: block;
    width: 2.6rem;
    height: 2.6rem;
    background: none !important;
    color: #f1f1f1;
    text-align: center;
    line-height: 2.6rem;
    transition: all .4s ease-in-out;
  
}
  
ul.social-icon li a:hover{
    color: #48b81c !important;
    transition: all .6s ease-in-out;
}
  
.footer .block-inner h6 {
    font-weight: bold;
    font-size: .8rem;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 1.6rem;
}
  
.footer .block-inner ul {
    padding: 0;
}
  
.footer .block-inner ul li {
    margin-bottom: .6rem;
    list-style: none;
}
  
.footer .block-inner ul li a {
    font-size: .8rem;
    color: #777777;
    transition: .2s ease;
}
  
.footer .block-inner ul li a:hover {
    color: #ffffff;
}
  
.copyright{
    background-color: #0a1309;
}
/* =====================FOOTER END===================== */


/* ====================MEDIA QUERIES==================== */
@media (max-width: 992px) {
    .main-nav .navbar-nav .nav-item.active .nav-link:before {
      display: none;
    }
    .footer .block {
      text-align: center !important;
    }
}
  
@media (max-width: 768px) {
    .services .col-lg-4.m-auto {
      display: none;
    }
    .service-box {
      width: 80%;
      margin: 0 auto;
    }
    .service-thumb {
      width: 80%;
      margin: 0 auto;
    }
    
    .testimonial-slider .item .block .image {
      flex-grow: 1;
    }
  
    .contact{
      padding: 6rem 1.5rem;
    }
  
    .footer {
      padding: 3.3rem 0;
    }
    .footer .block {
      margin-bottom: 2.6rem;
    }
}
  
  
  
  
  
  
  



